{
    "root": true,
    "parserOptions": {
        "ecmaVersion": 2022
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended"
    ],
    // add your custom rules here
    "rules": {
        // general eslint config
        "array-element-newline": [
            "error",
            {
                "multiline": true,
                "minItems": 2
            }
        ],
        "array-bracket-newline": [
            "error",
            "consistent"
        ],
        "arrow-parens": [
            "error",
            "always"
        ],
        "curly": "off",
        "comma-dangle": [
            "error",
            "never"
        ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "import/order": "off",
        "no-array-constructor": "off",
        "no-console": "off",
        "no-undef": "off",
        "no-unused-vars": "off",
        "object-shorthand": "off",
        "prefer-promise-reject-errors": "off",
        "quotes": [
            "error",
            "double"
        ],
        "quote-props": "off",
        "semi": [
            "error",
            "always"
        ],
        "semi-spacing": "error",
        "semi-style": [
            "error",
            "last"
        ],
        "space-before-function-paren": "off"
    }
}
